@font-face{
    font-family: 'Open Sans Extrabold';
    src: url('fonts/2206.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 16px;
	background-color: #f6f6f6;
}   

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}  

.layout-positioner {
   max-width: 1170px;
   margin: 0 auto;
   outline: 5px dotted green;
   
}

.layout-positioner:after {
    content:'';
    display: table;
    clear: both;   
}

.clearfix:after {
    content:'';
    display: table;
    clear: both;   
}


.main {
	margin: 0px auto;
	width: 100%;
	box-sizing: border-box;
	
}

header{
    height: 500px;
    background: grey;
    background: url("img/background-header.jpg") no-repeat center;
    background-size: 100% 110%;
}
.header-group{
    min-height: 140px;
    color: #fff;
}

.header-group__logo{
   -background: yellow;
   width: 49%;
   display: inline-block;
   vertical-align: top;
   padding-top: 50px;
   padding-left: 15px;
   cursor: default;
}
.header-group__logo h1{
    font-size: 40px;
}
.header-group__logo p{
    font-size: 18px;
}

.header-group__nav-menu{
    -background: green;
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.header-group__nav-menu ul {
    -background: red;
    padding-left: 50px;
    position: relative;
}
.header-group__nav-menu ul a li{
    display: inline-block;
    -background: #f1ccc4;
    width: 95px;
    height: 115px;
    font-size: 18px;
    position: relative;
    text-align: center;
    z-index: 10;
    margin-right: 10px;
    padding-top: 60px;
    text-shadow: 2px 2px 1px rgba(50, 50, 50, 1);
   
}
.header-group__nav-menu ul a:last-child li{
    margin-right: 0;
}
/*.header-group__nav-menu ul a:first-child li{
    background: url('img/Rectangle.png');
}*/
.header-group__nav-menu ul a.nav-menu__active li{
    position: relative;
    z-index: 10;
    background: #f1ca14;
    color: #2d2d31;
    text-shadow: none;
    box-shadow: 1px 4px 2px 0px rgba(0,0,0,0.75);
}
.header-group__nav-menu ul a.nav-menu__active li:after{
    content: "";
    position: absolute;
    top: 110px;
    left: 0;
    background: #f1ca14;
    height: 40px;
    width: 95px;
    z-index: 5;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 20%, 0% 100%);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
/*или градиентом? или картинкой с тенью?*/

#shadow{
    position: absolute;
    top: 125px;
    left: 45px;
    height: 10px;
    width: 100px;
    -background: rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.75);
    transform: rotate(-19deg);

}
.header-group__nav-menu ul a {
    color: #fff;
}

/* менюшки колонки три грида*/
.header-info-grid{
    height: 340px;
}
.grid-menu{
    display: inline-block;
    margin-left: 29px;
    height: 350px;
    width: 360px;
    background: #fff;
    position: relative;
    top: 140px;
    box-shadow: -1px 2px 25px 0px rgba(0,0,0,0.75);
}
.grid-menu a {
    text-decoration: none;
}

.grid-menu p{
    font-family: 'Open Sans Extrabold';
    font-size: 32px;
    color: #2d2d31;
    padding: 60% 30px 0 30px;
}

.grid-menu:nth-child(1){
    margin-left: 15px;
}

.grid-menu__1 {
    background: url("img/grid-1.png") no-repeat -25px -15px;
}
.grid-menu__2 {
    background: url("img/grid-2.png") no-repeat -25px -15px;
}
.grid-menu__3 {
    background: url("img/grid-3.png") no-repeat -25px -15px;
}

.read-more {
    height: 260px;
    width: 100%;
    background: #f1ca14;
    padding-top: 175px;
}
.read-more a {
    color: #fff;
    text-decoration: none;
}
.read-more-button{
    margin: 0 auto;
    width: 320px;
    height: 60px;
    background: #2d2d31;
    text-align: center;
    padding: 20px;
    border-radius: 40px;
    font-size: 19px;
    text-transform: uppercase;
    position: relative;
    z-index: 10;
}

.read-more hr{
    position: relative;
    border: 1px solid #2d2d31;
    top: 30px;
    z-index: 5;
    margin: 0 15px;
}

/* реклама после тройных гридов */
.block-advertising{
    background: #f1ca14;
    padding: 50px 0;
}
.advertising-group{
    display: flex;
    flex-wrap: nowrap;
    align-content: strech; 
    width: 1140px;
    height: 435px;
    background: #2d2d31;
    margin-left: 15px;
    color: #fff;
    
}
.advertising-img{
      flex: 1;
      height: 435px;
      background: url('img/advert-Image.png') no-repeat -1px -1px;
      background-size: 100% 100%;
      

}
.advertising-info{
      flex: 1;
}

/*слайдер*/
.block-main-slider{
    background: #f1ca14;
    padding: 25px 0 100px;
}
